@import "libs/fonts";
@import "libs/bootstrap-reboot.min";

* {
	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

@import "blocks/country";

@import "base/media";