@import "libs/fonts";
@import "libs/bootstrap-reboot.min";
@import "libs/tiny-slider";

* {
	font-family: "Roboto", sans-serif;
}

.container {
	position: relative;
	max-width: 1140px;
	margin: 0 auto;
}

@import "blocks/country";
@import "blocks/promo";
@import "blocks/slider";
@import "blocks/buttons";
@import "blocks/with-prengi";
@import "blocks/solutions";
@import "blocks/title";
@import "blocks/advantages";
@import "blocks/data";
@import "blocks/start";
@import "blocks/footer";

@import "base/media";