.country {
    &__block {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        display: block;
        width: 28px;
        height: 21px;
        margin-right: 11px;
    }
    &__content {
        max-width: 190px;
    }
    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        text-align: left;
        color: #242424;
    }
    &__descr {
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        text-align: left;
        color: #242424;
    }
}