.title {
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
    &_black {
        color: #393939;
    }
    &_start {
        color: #393939;
        margin-top: 72px;
    }
}